{
  "plugins": [
    "./node_modules/prettier-plugin-twig-melody"
  ],
  "bracketSpacing": true,
  "endOfLine": "lf",
  "printWidth": 100,
  "singleQuote": false,
  "semi": false,
  "tabWidth": 2,
  "twigTabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "twigPrintWidth": 120,
  "arrowParensarrowParens": "always",
  "singleAttributePerLine": true,
  "bracketSameLine": false
}
