.header {
  width: 100%;
  height: 10vh;

  background-color: silver;

  /* For fixed header */
  // position: fixed;
  // top: 0;
  // left: 0;
  // z-index: 1100;
  // padding: 0 calc(var(--current-scrollbar-width) + 0) 0 0;

  // &._hide {
    // }
    // &__row {
  // }
}
