{% macro primary(props) %}
  <a
    class="link link-primary"
    href="{{ props.href is defined ? props.href : "#" }}"
    aria-label="{{ props.title | striptags }}"
  >
    {{ props.title }}
  </a>
{% endmacro %}