{% extends "layouts/root/layout-root.twig" %}

{% block variables %}
  {% set title = "Contact us" %}
  {% set page_class = "contact-us-page" %}
{% endblock %}

{% block content %}
  <h1>About us page</h1>
{% endblock %}

{% block scripts %}{% endblock %}