{% import "ui/links.twig" as link %}
{% import "ui/media.twig" as media %}

{% block variables %}{% endblock %}

<!doctype html>
<html lang="en">
{% include "layouts/components/head.twig" %}
<body>
<div class="layout {{ page_class }}">
  {% include "layouts/components/header.twig" %}

  <main class="layout-content">
    {% block content %}{% endblock %}
  </main>

  {% include "layouts/components/footer.twig" %}
</div>

{% if is_dev %}
  {% include "_dev-menu/dev-menu.twig" %}
{% endif %}

<script>
  if (navigator.serviceWorker) {
    window.addEventListener("load", () => {
      navigator
        .serviceWorker
        .register("./service-worker.js")
        .then(
          registration => {
            console.log("[SW]: Registration successful: ", registration)
          },
          error => {
            console.warn(`[SW]: Registration failed: ${error}`)
          },
        )
    })
  }
</script>
<script src="./js/main.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>