{% extends "layouts/root/layout-root.twig" %}

{% block variables %}
  {% set title = "Not found" %}
  {% set page_class = "error-page" %}
{% endblock %}

{% block content %}
  <h1>404</h1>
  <p>Page not found</p>
{% endblock %}

{% block scripts %}{% endblock %}