{% extends "layouts/root/layout-root.twig" %}

{% block variables %}
  {% set title = "Home" %}
  {% set page_class = "home-page" %}
{% endblock %}

{% block content %}
  <h1>Home page</h1>
  {{ media.icon('holder-icon') }}
{% endblock %}

{% block scripts %}{% endblock %}